body{
    font-family: 'Open Sans', sans-serif;  
}


.header{
 margin-top: 53px;
 margin-bottom: 52px;
}

.container{
    max-width: 1284px;
    margin: 0 auto;

}

.nav_ul{
text-align: center;
}

.nav_li{
display: inline-block;

}

.nav_li:not(:last-of-type){
    margin-right: 50px;
}

.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}

.section{
    text-align: center;
    background-image: url(../img/pexels-harrison-candlin-2441454\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 138px 0 180px;
}


.section_text{
    font-weight: 700;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 14px;
}


.section_button{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 420px;
    height: 70px;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #162C38;
   /* margin-bottom: 177px;*/

}

.section_2{
    background-color: #1A6E88B5;
    padding: 130px 0;
}

.section_2_text{
    margin: 0 auto;
max-width: 726px;
font-weight: 400;
font-size: 36px;
line-height: 49px;
color: #FFFFFF;
}

.section_3{
    text-align: center;
    width: 656px;
    padding-top: 225px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.square_1{
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    top:440px ;
    left:-439px;
}

.square_2{
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    top:90px;
    left:-439px;
}

.square_3{
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    right:-439px;
    top: 300px ;
}


.section_3_tittle{
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.section_4{
    margin-top: 216px;
    position: relative;
}

.section_4_tittle{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    max-width: 696px;
    margin: 0px auto;
    position: relative;
}

.section_4_tittle:before{
    content: '';
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #5C98AB;
    position: absolute;
    left:-50px;
    top:-56px ;
    position: absolute;
}

.section_4_tittle::after{
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFDEFB;
    position: absolute;
    right:-122px ;
    bottom:-27px;
    position: absolute;
}

.section_5{
max-width: 647px;
margin: 123px auto 41px ;
}

.section_5_wrapper{
    position: relative;
    margin-bottom: 41px;
}

.section_label{
    position: absolute;
    left:-32px ;
    top:-33px ;
    transform: translate(60px, 47px);
}

.section_5_input{
    width: 647px;
    height: 96px;
    padding: 33px 0px 14px 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.section_5_input::placeholder{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;  
    color: #000000;
}

.section_5_main{
    margin: 0px auto;
    max-width: 647px;
}

.section_5_button{
    width: 100%;
    height: 92px;
    background: #5C98AB;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    border: none;
}





